.circles{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    margin: 120px;
    
}
#blue-circle{
    background-color: blue;
    
    
  
}
#green-circle{
    background-color: green;
   
}
#red-circle{
    background-color: red;

}